<div class="component-content">
  <div class="container">
    <div class="transparent-container overflow-auto">
      <div class="container">
        <h1>Some of the technologies I've used</h1>
        <br />
        <br />
        <div class="row">
          <div class="col-md-2 col-4" *ngFor="let tech of technologies">
            <img src="{{ tech.iconPath }}" width="50px" alt="{{ tech.name }}" />
            <p>
              {{ tech.name }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
