<div class="component-content">
  <div class="container">
    <div id="jobCarousel" class="carousel slide" data-interval="false">
      <ol class="carousel-indicators">
        <li data-target="#jobCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#jobCarousel" data-slide-to="1"></li>
        <li data-target="#jobCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div
          class="carousel-item"
          *ngFor="let job of jobs"
          [ngClass]="{ active: job.date == 'Current' }">
          <div class="transparent-container overflow-auto">
            <h1>
              <img src="{{ job.logo }}" width="60px" />
              {{ job.company }}
            </h1>
            <h3>{{ job.role }}</h3>
            <h4>{{ job.date }}</h4>
            <br />
            <p>
              {{ job.description }}
            </p>
            <br />
            <h4>Activities</h4>
            <ul class="list-group bg-transparent">
              <li
                class="list-group-item bg-transparent"
                *ngFor="let activity of job.activities">
                {{ activity }}
              </li>
            </ul>
            <br />
            <div class="container row">
              <h4>Technologies I used</h4>
              <br />
              <br />
              <p class="col-sm-3 col-3" *ngFor="let technology of job.technologies">
                <img
                  src="{{ technology.iconPath }}"
                  width="40px"
                  alt="{{ technology.name }}"
                />
              </p>
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#jobCarousel"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a
        class="carousel-control-next"
        href="#jobCarousel"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
